HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


=================================================================

Archivos de Eclipse / IDE

=================================================================

.classpath
.project
.settings/
*.log
*.metadata
*.tmp
temp/

Archivos que Eclipse usa para su estado de ejecución

bin/

Si usa la carpeta .vscode (para VS Code, pero es común)

.vscode/

=================================================================

Archivos de Build de Maven (Esta es la carpeta 'target')

=================================================================

target/

Dependencias generadas

pom.xml.tag
pom.xml.bak
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/